.jumbotron{
    margin: 1rem 2rem;
    display: flex;

}

.card img{
    height: 50%;
}

.card {

    margin: 1.5em 2em;
}

.card-body {
    margin: 0.5em 0em;
    font-size: 1.2em;
    text-decoration: none;
}
